@page "/{*pageRoute}"
@model NotFoundModel
@{
    ViewData["Title"] = "Not Found";
}

<div class="d-flex h-100 flex-column align-items-center">
    <h1>Not Found</h1>
    <h2>404 - The requested page can't be found</h2>
    <a class="btn btn-primary" href="/">Go to home page</a>
</div>