@page "/Success"
@model SuccessModel
@{
    ViewData["Title"] = "Success";
}

<div class="d-flex h-100 flex-column align-items-center">
    <h1 class="badge-success">Success!</h1>

    <h2>Your action was successful</h2>

    <a asp-page="Index"  class="btn btn-primary">Browse</a>
</div>